bin
build
imgui.ini
.vscode/compile_commands.json
.vscode/settings.json
*.o
liblua.a
lib/ffmpeg-8.0/**/*.d
lib/ffmpeg-8.0/**/*.a
lib/ffmpeg-8.0/**/*.pc
lib/ffmpeg-8.0/**/*.version
lib/ffmpeg-8.0/ffbuild/config.log
lib/ffmpeg-8.0/config.asm
lib/ffmpeg-8.0/config.h
lib/ffmpeg-8.0/config_components.h
lib/ffmpeg-8.0/doc/config.texi
lib/ffmpeg-8.0/ffbuild/.config
lib/ffmpeg-8.0/ffbuild/config.fate
lib/ffmpeg-8.0/ffbuild/config.mak
lib/ffmpeg-8.0/ffbuild/config.sh
lib/ffmpeg-8.0/libavcodec/bsf_list.c
lib/ffmpeg-8.0/libavcodec/codec_list.c
lib/ffmpeg-8.0/libavcodec/parser_list.c
lib/ffmpeg-8.0/libavdevice/indev_list.c
lib/ffmpeg-8.0/libavdevice/outdev_list.c
lib/ffmpeg-8.0/libavfilter/filter_list.c
lib/ffmpeg-8.0/libavformat/demuxer_list.c
lib/ffmpeg-8.0/libavformat/muxer_list.c
lib/ffmpeg-8.0/libavformat/protocol_list.c
lib/ffmpeg-8.0/libavutil/avconfig.h
lib/ffmpeg-8.0/libavutil/ffversion.h
